<!DOCTYPE html>
<html lang="en">

<%- include('include/header') %>

<body class="bg-[#f4f5fa] font-sans">

    <%- include('include/navbar') %>

    <div class="w-full h-[93vh] flex">
        <!-- Sidebar -->
        <%- include('include/sidebar') %>
        <!-- Main Content -->
        <div class="flex-grow p-10">
            <div class="bread text-xl">
                Module/Add Module
            </div>

            <div class="m-container">
                <form action="" method="POST">
                    <div class="mb-4 w-1/2">
                        <label for="moduleName" class="block text-lg font-semibold text-gray-700">Module Name</label>
                        <input type="text" id="moduleName" name="name" class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-purple-500" placeholder="Enter Module Name">
                    </div>
                    <div class="mt-6">
                        <button type="submit" class="w-full p-3 bg-purple-600 text-white font-semibold rounded-lg hover:bg-purple-700 focus:outline-none focus:ring-2 focus:ring-purple-500">
                            Submit
                        </button>
                    </div>
                </form>
            </div>


        </div>
    </div>

    <%- include('include/footer') %>

</body>

</html>
