<!DOCTYPE html>
<html lang="en">

<%- include('../include/header') %>

<body class="bg-[#f4f5fa] font-sans">

    <%- include('../include/navbar') %>

    <div class="w-full h-[93vh] flex">
        <!-- Sidebar -->
        <%- include('../include/sidebar') %>
        <!-- Main Content -->
        <div class="flex-grow p-10">

        </div>
    </div>

    <%- include('../include/footer') %>

</body>

</html>
