<script src="https://cdn.jsdelivr.net/npm/toastr@2.1.4/toastr.min.js"></script>
<script>
    let menus = document.querySelectorAll(".mmenu");

    menus.forEach((menu) => {
        menu.addEventListener('click', function () {
            const subMenu = this.querySelector('.sub-menu'); // Get the sub-menu of the clicked menu
            const isVisible = !subMenu.classList.contains('hidden'); // Check if the sub-menu is visible

            // Hide all other sub-menus first
            document.querySelectorAll('.sub-menu').forEach((submenu) => {
                submenu.classList.add('hidden');
            });

            document.querySelectorAll('.fa-angle-left').forEach((arrow) => {
                arrow.classList.add('rotate-180');
                arrow.classList.remove('rotate-[270deg]');
            });

            let arrow = menu.querySelector(".fa-angle-left")
            // If this sub-menu was hidden, show it
            if (isVisible) {
                subMenu.classList.add('hidden');
                arrow.classList.add("rotate-180")
                arrow.classList.remove("rotate-[270deg]")

            } else {
                subMenu.classList.remove('hidden');
                arrow.classList.remove("rotate-180")
                arrow.classList.add("rotate-[270deg]")
            }
        });
    });

    function setSelected(bod = null) {
        if (bod == null) {
            bod = document;
        }
        bod.querySelectorAll(".selectElement").forEach((ele, i) => {
            new SlimSelect({
                select: ele
            })
        })
    }

    function showLoader() {
        document.getElementById('loader').classList.remove('hidden');
    }

    // Function to hide the loader
    function hideLoader() {
        document.getElementById('loader').classList.add('hidden');
    }

    function openModal(title,html) {
        const modal = document.getElementById('myModal');
        let content = `
            <div class="relative flex justify-center items-start pt-12">
                <div class="bg-white p-8 rounded-lg shadow-lg w-1/2 min-w-[500px]">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h2 class="text-2xl font-semibold mb-4">${title}</h2>
                    </div>
                    
                    <!-- Divider (Horizontal Rule) -->
                    <hr class="mb-2 border-t-2 border-gray-300" />

                    <!-- Modal Body -->
                    <div class="modal-body">
                        ${html}
                    </div>

                    <!-- Close Button -->
                    <button onclick="closeModal()" class="bg-red-500 text-white py-2 px-4 rounded hover:bg-red-700 transition">
                        Close
                    </button>
                </div>
            </div>
        `
        modal.innerHTML = content;
        modal.classList.remove('hidden'); // Show the modal
    }

    // Function to close the modal
    function closeModal() {
        const modal = document.getElementById('myModal');
        modal.classList.add('hidden'); // Hide the modal
    }

    setSelected();    

    <% if (session.error) { %>
        toastr.error("<%= session.error %>")
        <%= helper.clearErrorSuccess() %>
    <% } %>
    <% if (session.success) { %>
        toastr.success("<%= session.success %>")
        <%= helper.clearErrorSuccess() %>
    <% } %>

</script>