<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Preview</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/c01abb6312.js" crossorigin="anonymous"></script>
    <style>
        *{
          color: #6b7280
        }
        .font-purple {
            color: #8d3abc;
        }

        .s-selected {
            background: linear-gradient(to right, #dcc3eb, #8d3abc);
            color: white;
        }

        .mmenu .s-selected:first-child {
            background: rgb(198, 198, 198);
            color: #6b7280;
        }

        .m-container{
            background: white;
            width: 100%;
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
        }


    </style>
</head>