<nav class="flex h-[7vh] items-center px-[5px]">
    <div class="info w-[15%] h-full items-center flex">
        <img src="/assets/logo.png" class="w-[50px] h-[50px]" alt="">
        <span class="text-2xl font-bold font-purple">
            WASENDER
        </span>
    </div>
    <div class="info h-full items-center flex flex-grow">
        <div class="relative w-full">
            <input type="search" class="w-1/2 pl-10 pr-4 py-2 rounded-full border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-600" placeholder="Search...">
            <i class="fa-solid fa-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-500"></i>
        </div>
    </div>
    
    <div class="info w-[15%] h-full items-center flex ml-auto justify-end text-2xl">
        <i class="fa-regular fa-bell"></i>&emsp;
        <img src="/assets/logo.png" class="w-[50px] h-[50px]" alt="">
    </div>
</nav>